.results {
  overflow: hidden;
  padding: 120px 0px;
  &__title {
    margin: 0px 0px 40px 0px;
  }
  &__slider {
    overflow: visible;
    max-width: 815px;
    margin: 0 auto;
  }
  &__slide {
    display: flex;
    column-gap: 16px;
    height: 400px;
    opacity: 0.24;
    transition: opacity .2s ease;
    &.swiper-slide-active {
      opacity: 1;
    }
  }
  &__slide-img {
    width: calc(50% - 8px);
    height: 100%;
    object-fit: cover;
  }
  &__slider-btn {
    position: absolute;
    top: calc(50% - 36px);
    z-index: 10;
    &--prev {
      transform: rotate(180deg);
      left: -150px;
    }
    &--next {
      right: -150px;
    }
  }
  &__slider-btn-icon {
    width: 28px;
    height: 28px;
    color: white;
    transform: rotate(45deg);
  }
}