.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-stroke {
  padding: 14px 30px;
  border: 2px solid var(--beige);

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  @include hover {
    background-color: var(--beige);
  }
  &:active {
    border-color: var(--beige-light);
    background-color: var(--beige-light);
  }
  @include laptop-min {
    font-size: 14px;
  }
}

.btn-circle {
  @include flex-center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--beige);
  transition: background-color 0.2s ease, color 0.2s ease;
  @include hover {
    background-color: var(--text-3);
  }
  &:active {
    background-color: var(--beige-light);
  }
  @include laptop {
    width: 56px;
    height: 56px;
  }
}

.btn-primary {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  background-color: var(--beige);
  color: var(--text-1);
  transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  @include hover {
    background-color: #8e7b70;
  }
  &:active {
    background-color: var(--beige-light);
  }
  @include laptop-min {
    font-size: 14px;
  }
}
